.button-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 30vw;
    flex-wrap: wrap;
    align-content: center;
}

.button {
    margin-bottom: 5px;
    margin-right: 5px;
}

.board {    
    margin: 0 auto;
    text-align: center;
    max-width: 50vw;
}